<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57559669943-35ckes00ech3u38c56jh6eks075dt2a7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57559669943-35ckes00ech3u38c56jh6eks075dt2a7</string>
	<key>API_KEY</key>
	<string>AIzaSyBitneJvCFs2up6wDLNkNqdj90v7HkpptU</string>
	<key>GCM_SENDER_ID</key>
	<string>57559669943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moph-lebanon.tracker</string>
	<key>PROJECT_ID</key>
	<string>moph-tracer</string>
	<key>STORAGE_BUCKET</key>
	<string>moph-tracer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57559669943:ios:6690b1b98425752b200132</string>
	<key>DATABASE_URL</key>
	<string>https://moph-tracer.firebaseio.com</string>
</dict>
</plist>